<ul class='nav nav-pills navbar-right'>
  <li role='presentation' class="<%= active(admin_path) %>">
    <%= link_to 'Dashboard', admin_path %>
  </li>
  <li role='presentation' class="<%= active(samurai.admin_users_path) %>">
    <%= link_to samurai.admin_users_path do %>
    Users
    <span class='badge'><%= Samurai::User.count %></span>
    <% end %>
  </li>
</ul>
<div class='clearfix'></div>